<template>
    <div id="v-my_products" class="v-my_products">
        <div class="container">
            <div class="v-my_products__content">
                <h3 class="v-my_products__content__title">Закажите у нас</h3>
                <div 
                    class="v-my_products__top"
                    data-aos="flip-left" 
                    data-aos-delay="300"
                    data-aos-once="true"
                    data-aos-duration="700">
                    <div class="v-my_products__preview v-my_products__product-item">
                        <p class="v-my_products__product-item__text">Превью</p>
                        <img class="v-my_products__product-item__image" src="../../assets/images/my_products/preview.png" alt="">
                    </div>
                    <div class="v-my_products__soap">
                        <img class="v-my_products__soap__image" src="../../assets/images/my_products/soap.png" alt="">
                    </div>
                    <div class="v-my_products__decoration v-my_products__product-item">
                        <p class="v-my_products__product-item__text">Оформление</p>
                        <img class="v-my_products__product-item__image" src="../../assets/images/my_products/decoration.png" alt="">
                    </div>
                </div>
                <div class="v-my_products__bottom">
                    <div class="v-my_products__telegram">
                        <h2 class="v-my_products__telegram__title">Бот Телеграм</h2>
                        <div class="v-my_products__telegram__image-box">
                            <img src="../../assets/images/my_products/telegram.png" alt="" class="v-my_products__telegram__image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">
.v-my_products{
    padding: 100px 0 0 0;
    min-height: 100vh;
    font-family: 'Facon';
    color: #fbffff;
    background-image: url(@/assets/images/my_products/bcg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__content{
        &__title{
            font-size: 50px;
            text-align: center;
            text-shadow: rgb(0, 0, 0) -2px 1px 4px;
        }
    }
    &__top{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__bottom{
        display: flex;
        justify-content: center;
    }
    &__product-item{
        position: relative;
        overflow: hidden;
        z-index: 2;
        transition: 0.3s;
        cursor: pointer;
        &__text{
            position: absolute;
            left: 10%;
            top: 50%;
            transform: translate(0, -50%);
            text-shadow: rgb(0, 0, 0) -6px 8px 4px;
            writing-mode: vertical-lr; 
            text-orientation: upright; 
            transition: 0.3s;
        }
        &:hover{
            transform: scale(1.1);
            & .v-my_products__product-item__text{
                position: absolute;
                left: 70%;
                transform: translate(0, -50%);
            }
        }
    }
    &__soap{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__preview{
        font-size: 72px;
    }
    &__decoration{
        font-size: 48px;
    }
    &__telegram{
        cursor: pointer;
        z-index: 3;
        text-align: center;
        margin-top: -60px;
        &__title{
            transition: 0.3s;
            font-size: 72px;
            text-shadow: rgb(0, 0, 0) 6px 9px 10px;
        }
        &__image{
            transition: 0.3s;
        }
        &:hover{
            & .v-my_products__telegram{
                &__title{
                    transform: scale(0.9);
                }
                &__image{
                    transform: scale(1.1);
                }
            }
        }
    }
}
@media (max-width: 1025px) {
    .v-my_products{
        &__preview{
            font-size: 50px;
        }
        &__decoration{
            font-size: 31px;
        }
        &__product-item{
            &__image{
                width: 300px;
            }
        }
        &__soap{
            &__image{
                width: 522px;
            }
        }
        &__telegram{
            margin-top: -20px;
            &__title{
                font-size: 50px;
            }
        }
    }
}
@media (max-width: 950px) {
    .v-my_products{
        &__soap{
            &__image{
                width: 322px;
            }
        }
    }
}
@media (max-width: 700px) {
    .v-my_products{
        &__preview{
            font-size: 40px;
        }
        &__decoration{
            font-size: 24px;
        }
        &__product-item{
            &__image{
                width: 250px;
            }
        }
        &__telegram{
            &__title{
                font-size: 40px;
            }
            &__image{
                width: 200px;
            }
        }
    }
}
@media (max-width: 520px) {
    .v-my_products{
        &__content{
            &__title{
                font-size: 30px;
                text-align: center;
                text-shadow: rgb(0, 0, 0) -2px 1px 4px;
            }
        }
        &__preview{
            font-size: 36px;
        }
        &__decoration{
            font-size: 21px;
        }
        &__product-item{
            &__image{
                width: 200px;
            }
        }
        &__soap{
            &__image{
                width: 242px;
            }
        }
        &__telegram{
            margin-top: 0px;
            &__title{
                font-size: 30px;
            }
            &__image{
                width: 150px;
            }
        }
    }
}
@media (max-width: 420px) {
    .v-my_products{
        &__content{
            &__title{
                font-size: 20px;
                text-align: center;
                text-shadow: rgb(0, 0, 0) -2px 1px 4px;
            }
        }
        &__preview{
            font-size: 27px;
        }
        &__decoration{
            font-size: 14px;
        }
        &__product-item{
            &__image{
                width: 140px;
            }
        }
        &__soap{
            &__image{
                width: 200px;
            }
        }
        &__telegram{
            margin-top: 0px;
            &__title{
                font-size: 20px;
            }
            &__image{
                width: 100px;
            }
        }
    }
}
</style>