<template>
  <div class="chat-page">
        <v-basic-chat
            :nick="nickName"
            v-if="this.$route.params.chat_type == 'basic'"/>

        <img v-if="this.$route.params.chat_type == 'kitty'" src="../../../assets/images/kitty/kitty.png" alt="" class="chat-page__kitty">
        <v-kitty-chat
            :nick="nickName"
            v-if="this.$route.params.chat_type == 'kitty'"/>

        <v-gray-chat
            :nick="nickName"
            v-if="this.$route.params.chat_type == 'gray'"/>

        <v-neon-chat
            :nick="nickName"
            v-if="this.$route.params.chat_type == 'neon'"/>

  </div>
</template>

<script>
import vBasicChat from '@/components/chat/v-basic-chat'
import vKittyChat from '@/components/chat/v-kitty-chat'
import vNeonChat from '@/components/chat/v-neon-chat.vue'
import vGrayChat from '@/components/chat/v-gray-chat'

export default{
  components: { vNeonChat, vBasicChat, vKittyChat, vGrayChat},
  layout: 'clear',
  name: 'chat',
  data(){
    return{
      nickName: this.$route.params.nickname
    }
  },
  methods:{
    
  },
  mounted(){
  }
}
</script>

<style lang="scss">
.chat-page{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
        min-height: 100vh;
    &__kitty{
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
</style>