<template>
    <v-open-chat
        :chat="chat_info"/>
</template>

<script>
import vOpenChat from '@/components/catalog-chats/v-open-chat'
export default {
    layout: 'logo',
    components: {
        vOpenChat
    },
    data(){
        return{
            chat_info: {}
        }
    },
    mounted(){
        let a = 0
        this.$store.getters['chat/CHATS'].forEach(item => {
            if(item.link == this.$route.params.chat_type){
                this.chat_info = item
                a++
            }
            
        })
        if(a < 1){
            this.$router.push({ path: `/error` })
        }
    }
}
</script>

<style lang="scss">

</style>