@font-face {
    font-family: 'Facon';
    font-display: swap;
    src: url("~assets/fonts/Facon.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    font-display: swap;
    src: url("~assets/fonts/MyriadPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MellaNissa';
    font-display: swap;
    src: url("~assets/fonts/mella_nissa.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
