$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
///////////////////////////////////
$blue: #11749e;
$black: #222222;

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (min-width: $md1+px) {
		max-width: 1400px;
	}
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}

}

$fontFamily: "MyriadPro-Regular";