
::-webkit-scrollbar{
    width: 15px;
 }
 ::-webkit-scrollbar-track{
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(117, 255, 4) 100%, rgba(0,212,255,1) 100%);
 }
 ::-webkit-scrollbar-thumb{
    background: rgb(56,244,255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(94, 255, 0) 100%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    &:active{
       box-shadow: 0  0 4px 0px rgb(255, 255, 255);
    }
 }