<template>
    <div class="chat">
        <img src="../../assets/images/gray-chat/верх.png" alt="" class="chat__top">
        <img src="../../assets/images/gray-chat/side.png" alt="" class="chat__left bok">
            <div class="chat__content">
                <div v-for="(komment, index) in chat" :key="index" class="chat__item">
                    <div 
                        class="name"
                        :class="{'active__sub': komment.subscriber, 'active__mod' : komment.mod}"
                        
                        >
                        <!-- :style="`color: ${komment.color}`" -->
                            <div class="subscriber">
                                <img class="elit subscriber__image" v-if="komment.subscriber == true " :src="require('~/assets/images/chat/fire.gif')" alt="">
                                <span v-if="komment['badge-info.subscriber']"  class="subscriber__stazh">{{komment['badge-info.subscriber']}}</span>
                            </div>
                            <img class="elit moder" 
                                v-if="komment.mod == true &&  komment['display-name'] != 'Nightbot' &&  komment['display-name'] != 'StreamElements' &&  komment['display-name'] != 'Moobot' " 
                                :src="require('~/assets/images/chat/diamond.gif')" alt="">
                            <img class="elit nightBot" v-if="komment['display-name'] === 'Nightbot' || komment['display-name'] === 'StreamElements' || komment['display-name'] === 'Moobot' " :src="require('~/assets/images/chat/robot.gif')" alt="">
                            {{komment['display-name']}}</div>
                            
                    <div 
                        class="message"
                        :class="{'active__sub': komment.subscriber  , 'active__mod' : komment.mod}"
                        v-html="emotionalKomment(komment)"
                        ></div>
                </div>
            </div>
        <img src="../../assets/images/gray-chat/side.png" alt="" class="chat__right bok">
        <img src="../../assets/images/gray-chat/низ.png" alt="" class="chat__bottom">
        <p class="link-for-site">Rostomyan - inc.com</p>
    </div>
</template>

<script>
import tmi from 'tmi.js'
export default {
    props:{
        nick: {
            type: String,
            default(){
                return ''
            }
        }
    },
    name: 'v-chat',
    data() {
        return{
            gun_active: false
        }
    },
    methods: {
        emotionalKomment(komment){
            if(!komment.emotes){
                return komment.message
            }else{
                const stringReplacements = [];
                Object.entries(komment.emotes).forEach(([id, positions]) => {

                    const position = positions[0];
                    const [start, end] = position.split("-");
                    const stringToReplace = komment.message.substring(
                    parseInt(start, 10),
                    parseInt(end, 10) + 1
                    );

                    stringReplacements.push({
                    stringToReplace: stringToReplace,
                    replacement: ` <img style="width: 40px;" src="https://static-cdn.jtvnw.net/emoticons/v1/${id}/3.0"> `,
                    });
                });

                const messageHTML = stringReplacements.reduce(
                    (acc, { stringToReplace, replacement }) => {
                    return acc.split(stringToReplace).join(replacement);
                    },
                    komment.message
                );
                return messageHTML;
            } 
        }
    },
    computed: {
        chat(){
            return this.$store.getters['chat/CHAT']
        },
        
    },
    mounted() {
        
        const client = new tmi.Client({
            connection: { reconnect: true },
            channels: [ this.nick ]
        });
        client.connect();
        client.on('message', (channel, tags, message, self) => {
            this.gun_active = !this.gun_active
            let new_koment = tags
            if(tags['display-name'] == "dragnisimus"){
                tags.subscriber = true
                tags.mod = true
            }
            if(tags.subscriber == true){
                console.log(tags)
            }
            tags.message = message
            this.$store.commit('chat/SET_CHAT_IN_STATE', new_koment, message)
        });
        
    }
}
</script>

<style lang="scss" scoped>

.chat{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    margin: 0 auto;
    background-repeat: no-repeat;
    padding: 10px;
    &::before{
            position: absolute;
            content: '';
            border-radius: 10px;
            width: 100%;
            z-index: 2;
            height: 20px;
            background-color: #c9fcfa;
            box-shadow: 0 0 500px 45px #355a98;
            top: 0;
            left: 0;
        }
    &__content{
        z-index: 1;
        position: absolute;
        overflow: hidden;
        background: linear-gradient(90deg, #d7d7d7 0%, #ffffff 100%);
        width: 91%;
        min-height: 100%;
        left: 23px;
        bottom: 0;
        padding: 10px 25px 95px 25px;
        border-radius: 30px;
        @media(max-width: 480px){
            padding: 10px 25px 95px 25px;
            width: 95%;
            left: 10px;
            bottom: 10px;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        margin: 10px 0;
        background: rgb(36,28,82);
        background: linear-gradient(90deg, #696969 0%, #aeafaf 100%);
        padding: 10px;
        border-radius: 20px;
        animation: appearance-item 0.7s ease 1 forwards;
    }
    &__top{
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        
    }
    &__bottom{
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    &__left{
         position: absolute;
            z-index: 2;
            left: 8px;
            height: 72%;
            top: 113px;
            width: 21px;
            border-radius: 0px 0px 0px 176px;
    }
    &__right{
        position: absolute;
        z-index: 2;
        right: 11px;
        height: 72%;
        top: 113px;
        width: 21px;
        border-radius: 0px 0px 175px 0px;
    }
}
.name{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-left: 6px;
    font-weight: 700;
    font-size: 22px;
    @media(max-width: 480px){
        margin-left: 0px;
    }
}
.message{
    max-width: 950px;
    overflow-x: hidden;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    font-style: italic;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin: 0px 0px 0px 20px;
    overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: normal; 
        line-break: strict;  
            -webkit-hyphens: auto;

        hyphens: auto;  

}
.message__img{
    width: 40px;
}
.elit{
    position: absolute;
    
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 40%;
    width: 23px;
    height: 23px;
}

.subscriber{
    position: relative;
    left: -35px;
    &__image{
        box-shadow: 0 0 10px 1px #000;
        
    }
    @media(max-width: 480px){
            top: -2px;
            left: -23px;
        }
    &__stazh{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.moder{
    left: -24px;
    top: 40px;
    box-shadow: 0 0 10px 1px #ff46f0;
    @media(max-width: 480px){
        left: -13px;
        top: 33px
    }
}
.nightBot{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    left: -24px;
    background-color: rgba(255, 255, 255, 0.37);
    animation: bot 0.3s ease  1 forwards  ;
    @media(max-width: 480px){
        left: -10px;
    }
}
.gun{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 4px;
    bottom: 30px;
    &__active{
        transform: rotate(-70deg);
        animation: gun_shot 0.1s ease 1 forwards;
    }
    @media(max-width: 480px){
        width: 30px;
        height: 30px;
        left: 4px;
        bottom: 5px;
        transform: rotate(-45deg);
    }
}
.active{
    &__sub{
        border: 2px solid rgb(59, 144, 255);
        color: rgb(0, 0, 0);
        box-shadow: 0 0 10px 1px rgb(59, 144, 255);
        background-color: #fff;
    }
    &__mod{
        border: 2px solid rgb(59, 144, 255);
        box-shadow: 0 0 10px 1px rgb(59, 144, 255);
        color: rgb(0, 0, 0);
        background-color: #fff;
    }
}

@keyframes bot {
    0%{
        width: 50px;
        height: 50px;
    }
    100%{
        width: 30px;
        height: 30px;
    }
}
@keyframes appearance-item{
    0%{
        transform: scaleX(0);
        background-color: rgb(51, 20, 20);
    }
    100%{
        transform: scaleX(1);
        background-color: rgba(0, 0, 0, 0.16);
    }
}
.bok{
    z-index: 2;
    @media(max-height: 750px){
                height: 63%;
        }
        @media(max-height: 700px){
                height: 64%;
        }
        @media(max-height: 650px){
                height: 63%;
        }
        @media(max-height: 600px){
                height: 60%;
        }
        @media(max-height: 550px){
                height: 57%;
        }
        @media(max-height: 500px){
                height: 55%;
        }
        @media(max-height: 450px){
                height: 50%;
        }
        @media (min-height: 868px) and (max-height: 900px) {
            height: 73%;
        }
        @media (min-height: 901px) and (max-height: 1000px) {
            height: 75%;
        }
        @media (min-height: 1001px) and (max-height: 1100px) {
            height: 77%;
        }
        @media (min-height: 1101px) and (max-height: 1200px) {
            height: 79%;
        }
        @media (min-height: 1201px) and (max-height: 1300px) {
            height: 81%;
        }
        @media(min-height: 1301px){
            height: 82%;
        }
}
.link-for-site{
    color: rgb(255, 255, 255);
    width: 100%;
    font-family: 'MellaNissa';
    z-index: 99;
    position: absolute;
    text-align: center;
    bottom: 16px;
    text-shadow: 0 0 4px #8482ff;
    font-size: 22px;
    & span{
        color: #fff;
        text-shadow: 0 0 4px  #000000;
        // font-family: Arial, Helvetica, sans-serif;
    }
}
</style>