<template>
    <div class="glavnaya">

        <div style="max-width: 1500px;" class="container">
            <img src="../../assets/images/first/stone_left.png" class="stone__left" alt="">
            <img src="../../assets/images/first/stone_right.png" class="stone__rigth" alt="">
            <img src="../../assets/images/first/stone_super_rigth.png" class="stone__super-rigth" alt="">
            <div class="content">
                <div class="texts">
                    <p class="glavnaya__subtitle">Лучший</p>
                    <h1 class="glavnaya__title">Чат для твича</h1>
                    <div class="ponti">
                        <div class="ponti__texts">
                            <p class="ponti__subtext">Чат</p>
                            <a href="https://vk.com/dragnisimus" target="_blank" class="ponti__text">Ростомяна Артёма</a>
                        </div>
                        
                        <div class="ponti__icons">
                            <a href="https://vk.com/dragnisimus" target="_blank" class="ponti-icon-box">
                                <svg id="Bold" class="ponti__icon icon-vk" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z"/></svg>
                            </a>
                            <a href="https://t.me/DisplayN0ne" target="_blank"  class="ponti-icon-box">
                                <svg id="Bold" class="ponti__icon icon-telegram" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m9.417 15.181-.397 5.584c.568 0 .814-.244 1.109-.537l2.663-2.545 5.518 4.041c1.012.564 1.725.267 1.998-.931l3.622-16.972.001-.001c.321-1.496-.541-2.081-1.527-1.714l-21.29 8.151c-1.453.564-1.431 1.374-.247 1.741l5.443 1.693 12.643-7.911c.595-.394 1.136-.176.691.218z"/></svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="chats">
                    <img class="chats__image kitty-image" src="../../assets/images/first/kitty.png" alt="">
                    <img class="chats__image gray-image" src="../../assets/images/first/gray.png" alt="">
                    <img class="chats__image basic-image" src="../../assets/images/first/basic.png" alt="">
                    <img class="chats__image neon-image" src="../../assets/images/first/neon.png" alt="">
                </div>
            </div>
        </div>
        <a href="#chats" class="arrow-box scroll-to">
            <svg class="arrow-box__arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve"> <g> <g> <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734 L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8 C342.889,227.058,342.889,216.255,336.226,209.591z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>

    </div>
</template>


<script>

export default {
    mounted(){
        const anchors = document.querySelectorAll('a.scroll-to')

        for (let anchor of anchors) {
        anchor.addEventListener('click', function (e) {
            e.preventDefault()
            
            const blockID = anchor.getAttribute('href')
            
            document.querySelector(blockID).scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            })
        })
        }
    },
    methods: {
    }
}
</script>


<style lang="scss">
.chats{
    margin-left: 20px;
    margin-top: -50%;
    transform: translate(0, 50%);
    position: relative;
    z-index: 3;
    display: flex;
    @media (max-width: 1260px) {
        margin-left: 0;
    }
    @media (max-width: 1200px) {
        transform: scale(0.8) translate(0);
        margin-top: 0;

    }
    @media (max-width: 880px) {
        transform: scale(0.7);
    }
    @media (max-width: 567px) {
        margin-top: -40px;
        transform: scale(0.5);
    }
    @media (max-width: 430px) {
        transform: scale(0.4);
    }
    @media (max-width: 880px) and (max-height: 540px) {
        transform: scale(0.5);
        margin: -65px -280px 0 0;
        
    }
    @media (max-width: 880px) and (max-height: 415px) {
        transform: scale(0.4);
        margin: -100px -280px 0 0;
        
    }
    &__image{
        &:not(:last-child){
            @media (max-width: 1570px) {
                width: 300px;
            }
        }
    }
}

.kitty-image{
    z-index: 3;
    margin-right: -47px;
    transform: translate(-1000%);
    animation: kittyChat 0.7s ease 2s forwards;
}
@keyframes kittyChat{
    0%{
        transform: translate(-1000%);
    }
    100%{
        transform: translate(0);
    }
}
.gray-image{
    z-index: 4;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    transform: translate(0, -1000%);
    animation: grayChat 0.7s ease 1.6s forwards;
}
@keyframes grayChat{
    0%{
        transform: translate(0, -1000%);
    }
    100%{
        transform: translate(0);
    }
}
.basic-image{
    margin-left: -47px;
    z-index: 3;
    transform: translate(1000%);
    animation: basicChat 0.7s ease 2s forwards;
}
@keyframes basicChat{
    0%{
        transform: translate(1000%);
    }
    100%{
        transform: translate(0);
    }
}
.neon-image{
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translate(0, -1000%);
    z-index: 2;
    animation: neonChat 0.7s ease 2s forwards;
}
@keyframes neonChat{
    0%{
        transform: translate(1000%);
    }
    100%{
        transform: translate(-50%, 0);
    }
}
.glavnaya{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 320px;
    background: url(../../assets/images/first/bc1.jpg) 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    &__subtitle{
        color: #ffe952;
        font-size: 105px;
        transform: translate(-1000%, 0);
        animation: left_go ease 0.4s 1s forwards;
        @media (max-width: 1570px) {
            font-size: 75px;
        }
    }
    &__title{
        color: #fff;
        font-size: 78px;
        transform: translate(-1000%, 0);
        animation: left_go ease 0.4s 1.2s forwards;
        @media (max-width: 1570px) {
            font-size: 55px;
        }
    }
    
}
.arrow-box{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    animation: opacityAnim 0.3s ease 1.8s forwards;
    bottom: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, 0) rotate(90deg);
    z-index: 5;
    padding: 10px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: 50%;
    box-shadow: 0 0 20px 2px #fff;
    &__arrow{
        width: 20px;
        fill: #fff;
        -webkit-filter: drop-shadow( -2px 0px 2px rgba(255, 255, 255));
        filter: drop-shadow(-2px 0px 2px white);
        @media (max-width: 680px) {
            width: 15px;
        }
        @media (max-height: 415px){
            width: 15px;
        }
    }
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    height: 100vh;
    @media (max-width: 1260px) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    @media (max-width: 885px) {
        display: flex;
        justify-content: center;
    }
    // @media (max-width: 880px) and (max-height: 400px) {
    //     display: flex;
    //     justify-content: flex-end;
        
    // }
}
.stone{
    &__left{
        height: 70vh;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        animation: stone_left 1s ease forwards;
        @media (max-width: 880px) {
            height: 45vh;
        }
        @media (max-width: 1025px) and (max-height: 1400px) {
            height: 45vh;
        }
    }
    &__rigth{
        height: 32vh;
        position: absolute;
        bottom: -100%;
        left: 30%;
        z-index: 2;
        animation: stone_rigth 1s 0.5s ease forwards;
        
        @media (max-width: 880px) {
            height: 25vh;
        }
        
    }
    &__super-rigth{
        position: absolute;
        right: 0;
        bottom: 0;
        animation: stone_super-rigth 1s  ease forwards;
    }
}
.texts{
    z-index: 3;
    font-family: 'Facon';
    font-size: 30px;
    @media(max-height:670px){
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    @media(max-height:470px){
        position: absolute;
        transform: scale(0.4);
        bottom: -60px;
        left: -121px;
    }
    @media (max-width: 1570px) {
        font-size: 20px;
    }
    @media (max-width: 1260px) {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }
    @media (max-width: 1200px) {
        position: absolute;
        left: 50%;
        transform: scale(0.8) translate(-60%, 0);
        bottom: 40px;
    }
    @media (max-width: 880px) and (max-height: 650px) {
        position: absolute;
        transform: scale(0.6);
        left: 0;
        bottom: 0;
    }
    @media (max-width: 880px) and (max-height: 540px) {
        position: absolute;
        transform: scale(0.7);
        
    }
    @media (max-width: 880px) and (max-height: 415px) {
        position: absolute;
        transform: scale(0.7);
        
    }
    @media (max-width: 880px) and (max-height: 375px) {
        position: absolute;
        transform: scale(0.5);
        left: -100px;
        bottom: -40px;
    }
}
.ponti{
    margin-top: 60px;
    color: #fff;
    font-family: Arial;
    font-style: italic;
    transform: scaleY(0);
    animation: scaleY 0.3s ease 1.8s forwards;
    @media (max-width: 1200px) {
        margin-top: 10px;
    }
    &__icons{
        margin-top: 20px;
        display: flex;
    }
    &__icon{
        width: 30px;
        height: 30px;
        fill: #fff;
        transition: 0.7s;
    }
    &-icon-box{
        box-shadow: 0 0 5px 1px #fff;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 10px;
        border-radius: 50%;
        transition: all 0.3s ease;
        cursor: pointer;
        @media (max-width: 1260px) {
            width:  40px;
            height:  40px;
        }
        &:hover{
            background-color: #fff;
            box-shadow: 0 0 10px 1px rgb(255, 255, 255);
            & .ponti__icon{
                transition: 0.7s;
                fill: rgb(0, 0, 0);
            }   
        }
        &:not(:first-child){
            margin-left: 15px;
        }
    }
    &__texts{
        display: flex;
    } 
    &__text{
        color: #fff;
        font-family: Arial;
        font-style: italic;
        position: relative;
        margin-left: 15px;
            &::before{
            position: absolute;
            content: '';
            width: 100%;
            left: 0px;
            bottom: -5px;
            height: 3px;
            background-color: #fff;
            transform: scaleX(0);
            animation: BorderBottom 1s ease infinite;
        }
        
    }
    &__subtext{
        position: relative;
        
    }

}


@keyframes stone_left {
    0%{
        transform: rotate(90deg) scale(0.1);
        position: absolute;
        left: -100%;
        bottom: -100%;

    }
    100%{
        transform: rotate(0deg) scale(1);
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
@keyframes stone_rigth {
    0%{
        transform: rotate(-90deg) scale(0.1);
        position: absolute;
        bottom: -100%;

    }
    100%{
        transform: rotate(0deg) scale(1);
        position: absolute;
        bottom: 0;
    }
}
@keyframes stone_super-rigth {
    0%{
        transform: rotate(-90deg) scale(0.1);
        position: absolute;
        bottom: -100%;

    }
    100%{
        transform: rotate(0deg) scale(1);
        position: absolute;
        bottom: 0;
    }
}
@keyframes left_go {
    0%{
        transform: translate(-1000%,0);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes scaleY {
    0%{
        transform: scaleY(0)
    }
    100%{
        transform: scaleY(1)
    }
}
@keyframes BorderBottom{
    0%{
        transform: scaleX(0);
    }

    100%{
        transform: scaleY(0);
    }
}
@keyframes opacityAnim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
</style>