<template>
  <div >
      <nuxt-link :to="`/`" class="logotip-box">
        <img class="logotip-box__logotip" src="../assets/images/logo.png" alt="">
      </nuxt-link>
    <Nuxt />
  </div>
</template>

<style lang="scss">
.logotip-box{ 
    z-index: 3;
    position: absolute;
    left: 30px;
    top: 20px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #fff;
    padding: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgb(111,71,85);
    background: linear-gradient(90deg, rgba(111,71,85,1) 0%, rgba(61,66,111,1) 100%);
    &__logotip{
        width: 50px;
        border-radius: 50%;
        box-shadow: 0 0 10px 1px #fff;
        transition: 0.3s;
        
    }
    &:hover{
        .logotip-box__logotip{
            padding: 5px;
        }
    }
    &:active{
        opacity: 0.8;
    }
}

</style>
