<template>
  <div class="">
    <v-glavnaya />
    <v-chat-catalog/>
    <v-my-products/>
  </div>
</template>

<script>
import vGlavnaya from '@/components/glavnaya/v-glavnaya'
import vChatCatalog from '@/components/catalog-chats/v-chat-catalog'
import vMyProducts from '@/components/my_products/v-my-products.vue'
export default {
  components:{
    vGlavnaya,
    vChatCatalog,
    vMyProducts
  }
}
</script>

<style>

</style>
