<template>
    <div id="chats" class="chats-component">
        <img class="chats-component__top-image" src="../../assets/images/chats_catalog/top_materials.jpg" alt="">
        <figure class="chats-component__middle-strip"></figure>
        <div class="container">
            <div style="paddingBottom: 25px;" class="chats-component__catalog">
                <nuxt-link
                    :to="`/chats/${chat.link}`"
                    no-prefetch
                    v-for="(chat, index) in chats"
                    :class="chat.dop_class "
                    :key="index"
                    data-aos="flip-left" 
                    data-aos-delay="100"
                    data-aos-once="true"
                    data-aos-duration="700"
                    class="chats-component__item chat-item">
                    <div class="chat-item__image-box">
                        <img class="chat-item__image" :src="chat.image" alt="" >
                    </div>
                    <div class="inffooooo">
                        <div class="chat-item__info-box">
                            <p class="chat-item__name">{{chat.name}}</p>
                            <p class="chat-item__info">{{chat.description}}</p>
                        </div>
                        <div class="chat-item__sizes">
                            <p class="chat-item__title">Рекомендованый размер :</p>
                            <div class="chat-item__sizes-box">
                                <p 
                                    v-for="(size, index) in chat.sizes" 
                                    :key="index"
                                    class="chat-item__width">{{size.name}}: {{size.value}} px</p>
                               
                            </div>
                        </div>
                    </div>
                </nuxt-link> 
            </div>
            <a href="#v-my_products" class="arrow-box scroll-to">
                <svg class="arrow-box__arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve"> <g> <g> <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734 L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8 C342.889,227.058,342.889,216.255,336.226,209.591z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
        </div>
    </div>
</template>


<script>


export default {
    mounted(){
        const anchors = document.querySelectorAll('a.scroll-to')

        for (let anchor of anchors) {
        anchor.addEventListener('click', function (e) {
            e.preventDefault()
            
            const blockID = anchor.getAttribute('href')
            
            document.querySelector(blockID).scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            })
        })
        }
    },
    data(){
        return{}
    },
    methods: {
        OpenChat(chat){
            this.$router.push({ path: `/chats/${chat.link}` })
        }
    },
    computed: {
        chats(){
            return this.$store.getters['chat/CHATS']
        }
    }
}
</script>

<style lang="scss">
.chats-component{
    position: relative;
    background-image: url(../../assets/images/chats_catalog/big-bcg.jpg);
    background-size: cover;
    font-family: 'MyriadPro-Regular';
    overflow-x: hidden;
    padding-bottom: 70px;
    &__top-image{
        object-fit: cover;
        box-shadow: 0 28px 60px 26px #000;
        width: 100%;
        height: 45px;
    }
    &__catalog{
        z-index: 2;
        row-gap: 100px;
        column-gap: 97px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 70px;
        @media (max-width: 1209px) {
            column-gap: 30px;
        }
    }
    &__middle-strip{
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 50%;
        left: -5%;
        height: 250px;
        transform: translate(0%, -65%) rotate(-4deg);
        background: #f07f9b;
        background: linear-gradient(90deg, #f07f9b 0%, #23253c 45%);
        box-shadow: 0 0 50px 10px #000;
        transform-origin: center center;
        width: 200%;
    }
}

.chat-item{
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 341px;
    cursor: pointer;

    &:hover{
        transition: 0.1s;
        background-color: rgba(0, 0, 0, 0.418);
        box-shadow: 0 0 20px 1px rgb(255, 255, 255);
    }
    &:active{
        background-color: rgba(0, 0, 0, 0.795);
    }
    &__kitty{
        @media (max-width: 991px) {
            margin-top: -30px;
        }
    }
    @media (max-width: 1650px){
            width: 280px;
        }
    &__image{
        width: 341px;
        @media (max-width: 1650px){
            width: 280px;
        }
    }

    &__name{
        font-size: 40px;
        @media (max-width: 1650px){
            font-size: 35px;
        }
    }
    &__info{
        margin-top: 15px;
        font-size: 30px;
        @media (max-width: 1650px){
            font-size: 20px;
        }
    }
    &__sizes{
        margin-top: 20px;
        font-size: 30px;
        @media (max-width: 1650px){
            font-size:  20px;
        }
    }
    &__sizes-box{
        margin-left: 30px;
    }
}

@media (max-width: 725px) {
    .chats-component{
        &__catalog{
            column-gap: 70px;
        }
    }    
    .chat-item{
        width: 200px;
        &__image{
            width: 200px;
        }
        &__name{
            font-size: 25px;

        }
        &__info{
            font-size: 16px;

        }
        &__sizes{
            font-size: 15px;

        }
    }
}
</style>