<template>
    <div class="basic-component">
        <div class="conteeeent" :class="{'blur': active_link}">
            <div class="c-title-box">
                <h1 class="c-title-box__title">{{chat.name}}</h1>
                <p class="c-title-box__subtitle">Отличный выбор ;)</p>
            </div>
            <div class="c-content">
                <img class="c-content__image"  :src="chat.image" alt="chat-image">
                <div class="c-content-text-box">
                    <h2 class="c-content-text-box__title">Просто введи свой никнейм Твича, и наслождайся</h2>
                    <input 
                        v-model="nickname"
                        @keyup.enter="getLink" 
                        class="c-content-text-box__input" 
                        placeholder="BiG_RoBby" 
                        type="text">
                    <button @click="getLink" class="c-content-text-box__button">Получить ссылку</button>
                    <div class="rules">
                        <p>Внимение!</p>
                        <p>Если ваш никнейм <span>BiG_RoBby</span></p>
                        <p>То никнейм <span>big_robby - не подойдет</span>. Чат чувтсвителен к регистру</p>

                    </div>
                </div>
            </div>
        </div>
        <div v-if="active_link" class="c-link">
            <p class="c-link__hero">{{`http://localhost:3000/chats/${this.$route.params.chat_type}/${nickname}`}}</p>
            <svg @click="closeLink" class="c-link__close" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve"> <g> <path style="fill:#030104;" d="M21.125,0H4.875C2.182,0,0,2.182,0,4.875v16.25C0,23.818,2.182,26,4.875,26h16.25 C23.818,26,26,23.818,26,21.125V4.875C26,2.182,23.818,0,21.125,0z M18.78,17.394l-1.388,1.387c-0.254,0.255-0.67,0.255-0.924,0 L13,15.313L9.533,18.78c-0.255,0.255-0.67,0.255-0.925-0.002L7.22,17.394c-0.253-0.256-0.253-0.669,0-0.926l3.468-3.467 L7.221,9.534c-0.254-0.256-0.254-0.672,0-0.925l1.388-1.388c0.255-0.257,0.671-0.257,0.925,0L13,10.689l3.468-3.468 c0.255-0.257,0.671-0.257,0.924,0l1.388,1.386c0.254,0.255,0.254,0.671,0.001,0.927l-3.468,3.467l3.468,3.467 C19.033,16.725,19.033,17.138,18.78,17.394z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </div>
    </div>


</template>

<script>
export default {
    data(){
        return{
            nickname: '',
            active_link: false
        }
    },
    props: {
        chat: {
            type: Object,
            default(){
                return {}
            }
        }
    },
    methods: {
        getLink(){
            if(this.nickname.length){
                this.active_link = !this.active_link
            }
        },
        closeLink(){
            this.active_link = false
        }
    }
    
}
</script>

<style lang="scss">
.c-link{
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    align-items: center;
    background: rgb(255,42,118);
    background: linear-gradient(90deg, rgba(255, 42, 117, 0.3) 0%, rgba(0, 9, 107, 0.6) 100%);
    box-shadow: 0 0 100px 50px rgb(0, 0, 0);
    font-size: 20px;
    &__close{
        position: absolute;
        right: 10px;
        top: -40px;
        width: 30px;
        fill: #fff;
        box-shadow: 0 0 5px 1px #fff;
        border-radius: 5px;
        cursor: pointer;
    }
}
.blur{
    filter: blur(5px);
}
.basic-component{
    position: relative;
    background-image: url(../../assets/images/chats_catalog/first-bcg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
}
.conteeeent{
    transition: 0.2s;
}
.c-title-box{
    padding-top: 10px;
    text-align: center;
    &__title{
        font-size: 60px;
    }
    &__subtitle{
        margin-top: 5px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.507);
    }
}
.c-content{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c-content-text-box{
    position: relative;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.274);
    &__title{
        color: rgba(255, 255, 255, 0.712);
        font-size: 20px;
    }
    &__input{
        margin-top: 10px;
        border-radius: 4px;
        height: 35px;
        color: #fff;
        font-size: 20px;
        border: 2px solid #fff;
        width: 100%;
        padding: 10px 0;
        padding-left: 17px;
        background: rgba(0, 0, 0, 0.116);
        &::placeholder{
            font-family: "MyriadPro-Regular";
            color: rgba(255, 255, 255, 0.836);
        }
    }
    &__button{
        transition: 0.4s;
        margin-top: 10px;
        outline: #fff;
        padding: 7px 12px;
        width: 50%;
        border-radius: 5px;
        background: linear-gradient(90deg, rgba(255, 42, 117, 1) 0%, rgba(0, 9, 107, 1) 100%);
        &:hover{
            box-shadow: 0 0 10px 1px #000;
            color: #fff;
        }
    }
}
.rules{
    background-color: rgba(0, 0, 0, 0.308);
    position: absolute;
    border-radius: 10px;
    bottom: -120px;
    left: 0;
    padding: 10px;
    font-size: 18px;
    color: rgba(201, 201, 201, 0.747);
    font-style: italic;
    & span{
        color: rgb(255, 255, 255);
    }
}
@media (max-width: 980px) {
    .c-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        transform: translate(0, 0);
        &__image{
            width: 500px;
        }
    }
    .c-content-text-box{
        width: 95%;
        margin-top: 25px;
        &__button{
            opacity: 1;
            background: linear-gradient(90deg, rgba(255, 42, 117, 1) 0%, rgba(0, 9, 107, 1) 100%);
            color: #fff;
        }
    }
    .rules{
        margin-top: 15px;
        position: unset;
    }
}
@media (max-width: 580px) {
    .c-content{
        &__image{
            width: 300px;
        }
    }
    .c-link{
        &__hero{
            font-size: 13px;
        }
    }
    .c-title-box{
        text-align: right;
        padding-right: 10px;
        &__title{
            font-size: 45px;
        }
    }
}
</style>